@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adjust the scrollbar width and height */
::-webkit-scrollbar {
    width: 0px !important;
    height: 1px;
    position: absolute;
    left: 0;
}
.custom-textInput {
  
    border: none !important;
    border-bottom: 1px solid #ccc !important; /* Set the default bottom border color */
    
}
@media (max-width: 425px) {
  .nav1-logo {
      transform: translateX(-64px);
  }
}
@media (min-width: 425px) and (max-width: 430px) {
  .nav1-logo {
      transform: translateX(-96px);
  }
}



